/* Version 2.0 */
/* Licensed to Rakkha's Web Stylesheet Design 2022 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Oleo+Script&family=Questrial&display=swap');

:root {
    --bg-color: #000000;
    --color: rgb(2, 56, 2);
    --color2: rgb(11, 64, 117);
    --textcolor: #ffffff;
    --bodycolor: rgba(46, 46, 201, 0.534);

    --describe: "Dancing Script";
    --text: "Questrial";
    --heading: "Oleo Script";
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
}


.wrapper {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: var(--bodycolor);
}



.wrapper h2 {
    font-family: var(--heading);
    color: white;
    text-align: center;
    margin-left: 0;
    position: fixed;
    top: 0;
    width: 50%;
}


.return {
    z-index: 4;
    background-color: red;
    width: 100px;
    height: 40px;
    position: fixed;
    top: 10px;
    left: 10px;
}

.side-bar {
    width: 150px;
    background-color: var(--color2);
    height: 100vh;
    position: fixed;
    top: 0;
    left: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 12pt
}

.side-bar a {
    color: var(--textcolor);
    font-family: var(--text);
    font-size: 10pt;
    height: 25px;
    display: flex;
    text-align: center;
    text-decoration: none;
    margin-bottom: 12px;
    cursor: pointer;
    user-select: none;
}

section {
    margin-left: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50pt;
}

.main {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.dropdown-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dropdown-layout a {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: var(--text);
    font-size: 7pt;
    text-decoration: none;
}

textarea {
    width: 50%;
    height: 50px;
    font-family: var(--text);
    color: rgb(20, 57, 71);
    padding: 12pt;
    font-size: 8pt;
    margin: 5px;
    outline: none;
    border: none;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 12px;
    border: none;
    outline: none;
    margin: 2px;
    background-color: var(--bg-color);
    color: var(--textcolor);
    font-family: var(--text);
    font-size: 9pt;
}


.main h4 {
    font-family: var(--heading);
    color: white;
    margin: 12pt 2px 12pt 2px;
}

.main p {
    font-family: var(--text);
    font-size: 9pt;
    margin: 0pt 2px 12pt 2px;
    color: var(--textcolor);
}


.controllers {
    width: 95%;
    height: auto;
    margin: 0px 2px 12px 2px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.model-box-container-display {
    display: flex;
    width: 500px;
    height: 300px;
    border: 1px solid white;
}

.display-model-box {
    width: 100px;
    height: 100px;
    background-color: var(--color2);
    margin: 12px;
    transition: 0.5s;
}

.model-box-container {  /* Common */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    border: 1px solid white;
}


.padding-model {
    width: 100%;
    height: 200px;
    background-color: beige;
    font-family: var(--text);
}

.color1,
.color2,
.color3,
.color4,
.color5,
.color6,
.color7,
.color8,
.color9,
.color10,
.color11,
.color12,
.color13,
.color14,
.color15,
.color16,
.color17,
.color18,
.color19,
.color20,
.color21,
.color22,
.color23,
.color24,
.color25,
.color26,
.color27,
.color28,
.color29,
.color30,
.color31,
.color32,
.color33,
.color34,
.color35
 {
    width: 40px;
    height: 40px;
    margin: 2px;
}

.color1 {
    background-color: red;
}

.color2 {
    background-color: blue;
}

.color3 {
    background-color: yellow;
}

.color4 {
    background-color: purple;
}

.color5 {
    background-color: aqua;
}

.color6 {
    background-color: skyblue;
}

.color7 {
    background-color: lightgreen;
}

.color8 {
    background-color: oldlace;
}

.color9 {
    background-color: aquamarine;
}

.color10 {
    background-color: chocolate
}

.color11 {
    background-color: chartreuse
}

.color12 {
    background-color: aliceblue;
}

.color13 {
    background-color: bisque;
}

.color14 {
    background-color: crimson
}

.color15 {
    background-color: cyan
}

.color16 {
    background-color: blueviolet;
}

.color17 {
    background-color: brown
}

.color18 {
    background-color: blanchedalmond
}

.color19 {
    background-color: rebeccapurple
}

.color20 {
    background-color: royalblue
}

.color21 {
    background-color: violet
}

.color22 {
    background-color: teal
}

.color23 {
    background-color: thistle
}

.color24 {
    background-color: turquoise
}

.color25 {
    background-color: olivedrab
}

.color26 {
    background-color: orange
}

.color27 {
    background-color: orchid
}

.color28 {
    background-color: orangered
}

.color29 {
    background-color: palegoldenrod
}

.color30 {
    background-color: palegreen
}

.color31 {
    background-color: paleturquoise
}

.color32 {
    background-color: palevioletred
}

.color33 {
    background-color: papayawhip
}

.color34 {
    background-color: peachpuff
}

.color35 {
    background-color: peru
}

.color36 {
    background-color: pink
}

.color37 {
    background-color: plum
}

.color38 {
    background-color: powderblue
}




.color-model {
    width: 200px;
    height: 200px;
    background-color: black;
}


.color-ext-model-box {
    width: 80%;
    height: 250px;
    background-color: rgb(225, 225, 225);
}

label {
    color: var(--textcolor);
    font-size: 9pt;
    margin-right: 4px;
}





/*Responsive Style */

@media screen and (max-width: 700px) {
    body {
        margin: 0;
        padding: 0;
    }

    .wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .side-bar {
        left: 0;
    }

    section {
        margin-left: 170px;
    }

    .controllers {
        width: 80%;
        height: auto;
    }

    .model-box-container-display,
    .model-box-container {
        width: 90%;
        padding: 15px;
    }

}