@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Carter+One&family=Cinzel:wght@500&family=Lexend+Deca:wght@300&family=Luckiest+Guy&family=Poppins:wght@300&family=Rouge+Script&family=Yanone+Kaffeesatz&display=swap');

/* font 
0. Archivo Black - blog-title
1. Luckiest Guy - sub-title
2. Carter One - link1
3. Rouge Script - Description1
4. Yanone Kaffeesatz - Description2;
5. Lexend Deca - caption
6. Cinzel - sub-head;
7. Poppins - link2

*/



:root {
    --blog_title: 'Archivo Black';
    --sub-title: 'Carter One';
    --primary-style: 'Poppins';
    --describ: 'Rouge Script';   
    --caption1: 'Lexend Deca';
    --caption2: 'Yanone Kaffeesatz';

    /* main colors */
    --blog-main-color: #011316;
    --blog-primary-color: #080808;
    --hover-color: #06ffff;
    --pure-white: #ffffff;
    --gray: #4b4b4b;


    /* font-size */
    --blog-title-size: 23pt;
    --post-title-size: 13pt;
    --primary-Size: 11pt;
    --min-Size: 9pt;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: var(--blog-main-color);
    color: var(--pure-white);
}


.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    padding-left: 260px;
}

.log-in-model-box-container {
    display: none;
}

.side-bar {
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: var(--blog-primary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    border-right: 2px solid var(--hover-color);
    border-right: 2px solid var(--pure-white)
}

.blog-initial {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--blog-primary-color);
}

.blog-initial h1 {
    font-family: var(--blog_title);
    font-size: var(--blog-title-size);
    color: var(--hover-color)
    
}

.blog-initial p {
    font-family: var(--caption1);
    font-size: var(--primary-Size);
    color: var(--hover-color);   
}

.marquee {
    font-family: var(--describ);
    color: var(--pure-white);
    margin-top: 12px;
}

.hamburger {
    position: fixed;
    right: 23pt;
    top: 23pt;
    width: 40px;
    height: 40px;
    display: none;
    justify-content: center;
    align-items: center;
}


.link {
    width: 100px;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.link a {
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--gray);
    font-family: var(--caption1);
}

.link a:hover, .link a.active {
    transition: 0.5s;
    color: var(--hover-color);
}

.link a::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 40px;
    border-bottom: 2px solid var(--hover-color);
    transition: 0.5s;
}

.link a:hover::after, .link a.active::after {
    width: 150px;
    transition: 0.5s;
}

section {
    width: 100%;
    margin-top: 100px;
}


footer {
    background-color: var(--blog-primary-color);
    border-top: 3px solid var(--pure-white);
    width: 100%;
}

.footer-top-bar {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50pt;
    font-family: var(--caption2);
}

.link-connection-for-tags {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30pt;
    padding-bottom: 30pt;
}

.link-connection-for-tags h4 {
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: var(--sub-title);
    color: var(--gray)
}

.link-connection-for-tags ul a {
    text-decoration: none;
    color: var(--pure-white);
    width: 150px;
    height: 40px;
    font-family: var(--caption1);
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray)
}

.link-connection-for-tags a:hover {
    color: var(--hover-color);
    transition: 0.5s;
}

.link-connection-for-tags ul a::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid var(--hover-color);
    width: 0px;
    height: 40px;
}

.link-connection-for-tags ul a:hover::after {
    width: 150px;
    transition: 0.5s;
}


.footer-contact {
    background-color: rgb(31, 71, 71);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 34pt;
    padding-top: 34pt;
}

.ft-documentations a {
    color: gray;
    padding-left: 12px;
    padding-right: 12px;
    font-family: var(--caption2);
}

.ft-documentations a:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: 0.4s;
}

.footer-contact h3 {
    margin-top: 22pt;
    margin-bottom: 22pt;
    color: var(--hover-color);
    font-family: var(--caption1);
}

.ft-logo-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-logo-link svg{
    width: 30px;
    margin: 12pt;
    fill: var(--hover-color)
}


.ft-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 34pt;
    padding-top: 34pt;
}

.ft-copyright p {
    font-family: var(--caption1);
}

.ft-location {
    display: flex;
    margin-top: 23pt;
}


.ft-copyright svg {
    width: 20px;
    fill: var(--gray);
    margin-right: 12pt;
    margin-bottom: 35pt;
}



.ft-copyright svg:hover {
    fill: var(--hover-color);
    transition: 0.3s;
}

/* ---------------- drop down --------------  style */
.parent {
    width: 150px;
    display: block;
    text-align: center;
    position: relative;
    float: left;
    background-color: transparent;
    transform: translate(0px, 0px);
    z-index: 9;
}

.parent a {
    color: var(--gray);
    text-decoration: none;
}

.parent:hover>ul {
    display: block;
    position: absolute;
}

.child {
    display: none;
}

.child li {
    background-color: #232525f3;
    border-bottom: #CCC 1px solid;
    border-right: #CCC 1px solid;
    width: 100%;
}

.child li a {
    color: var(--gray);
}

ul {
    list-style: none;
    margin: 0;
}

ul ul ul {
    left: 100%;
    top: 0;
}

.child a:hover {
    background-color: #000000;
    color: var(--hover-color);
    transition: 0.5s
}



.expand {
    position: absolute;
    float: right;
}



/*------- Nav End --------*/


