@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Carter+One&family=Cinzel:wght@500&family=Lexend+Deca:wght@300&family=Luckiest+Guy&family=Poppins:wght@300&family=Rouge+Script&family=Yanone+Kaffeesatz&display=swap');

/* font 
0. Archivo Black - blog-title
1. Luckiest Guy - sub-title
2. Carter One - link1
3. Rouge Script - Description1
4. Yanone Kaffeesatz - Description2;
5. Lexend Deca - caption
6. Cinzel - sub-head;
7. Poppins - link2

*/



:root {
    --blog_title: 'Archivo Black';
    --blog-sub-title: 'Luckiest Guy';
    --sub-title1: 'Cinzel';
    --sub-title2: 'Carter One';
    --link: 'Poppins';
    --describ: 'Rouge Script';   
    --caption1: 'Lexend Deca';
    --caption2: 'Yanone Kaffeesatz';

    /* main colors */
    --palecolor1: #ACDDDE;
    --palecolor2: #CAF1DE;
    --palecolor3: #E1F8DC;
    --palecolor4: #66fcf1;
    --palecolor5: #A9D1F7;

    --color1: #cc99ff;
    --color2: #054c5c;
    --color3: #650087;
    --color4: #16f358;
    --color5: #ffffff;
    --color6: #000000;
    --red: red;


    /* font-size */
    --desc-font-size: 13pt;
    --default-fontsize: 10pt;
    --min-fSize: 8pt;
   
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color5);
    font-size: var(--default-fontsize);
}

.wrapper {
    width: 100%;
    height: auto;
    box-sizing: border-box;
}

.blog-initial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 3.15rem 0 3.15rem;
}

.blog-initial h1 {
    width: 100%;
    font-family: var(--blog_title);
    color: var(--color3);
    letter-spacing: 4px;
    text-align: center;
    font-size: 23pt;
    text-transform: uppercase;
}


.blog-initial h1::after {
    position: absolute;
    content: 'Cod.Œ';
    font-family: var(--describ);
    font-size: var(--min-fSize);
    transform: translate(0, 30px);
    color: var(--color2);
}



.marquee {
    font-family: var(--describ);
    font-size: var(--desc-font-size)
}

.blog-initial p {
    font-family: var(--caption1);
    color: var(--color2)
}



.hamburger {
    display: none;
}

.nav-tool {
    width: 45%;
    margin-left: 55%;
    height: 32px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    background-color: var(--color3);
    border-top-left-radius: 15px;
    padding-left: 12px;
}

.nav-tool * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.nav-tool p {
    position: relative;
    color: var(--palecolor4);
    cursor: default;
    padding: 0;
    text-decoration: none;
    font-size: 9px;
    font-family: var(--caption1);
    font-weight: bold;
    height: 25px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-tool p:before,
.nav-tool p:after {
    position: absolute;
    height: 12px;
    width: 12px;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    opacity: 0;
}

.nav-tool p:before {
    right: 0;
    top: 0;
    border-right: 2px solid #07d111;
    border-top: 2px solid #07d111;
    transform: translate(-100%, 50%);
}

.nav-tool p:after {
    left: 0;
    bottom: 0;
    border-left: 2px solid #07d111;
    border-bottom: 2px solid #07d111;
    transform: translate(100%, -50%);
}

.nav-tool p:hover {
    color: #ffffff;
}

.nav-tool p:hover::before,
.nav-tool p:hover::after {
    transform: translate(0px, 0px);
    opacity: 1;
}

.nav-tool .sign-in-btn-show {
    width: 170px;
    height: 25px;
    outline: none;
    border: none;
    border-radius: 50px;
    background-color: var(--color1);
    text-transform: uppercase;
    font-family: var(--caption1);
    margin-left: 5px;
}

/*----------------*/

nav {
    width: 100%;
    height: auto;
    background-color: var(--color2);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-bottom: 2px solid var(--color6);
    margin-bottom: 8px;
    z-index: 4;
}

nav .link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.link a {
    color: var(--color4);
    text-decoration: none;
    width: 170px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--link);
}

.link a::before {
    position: absolute;
    content: '';
    width: 0%;
    height: 35px;
    background-color: transparent;
    border-bottom: 2px solid var(--color4);
}

.link a:hover::before, .link a.active::before {
    transition: 0.5s;
    width: 120px;
}

.dropdown-menu {
    width: 140px;
    display: flex;
    justify-content: flex-end;
}

.dropdown-menu::after {
    position: absolute;
    content: '>';
    width: 30px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(80px);
    font-family: var(--link);
}

.dropdown-menu:hover::after { /* Only for web development tag */
    color: var(--color2);
    background-color: var(--color1);
    transition: 0.8s;
}


.dropdown-list {
    display: none;  /* Temporary disabled */
    position: absolute;
    width: 150px;
    height: auto;
    background-color: var(--color3);
    color: var(--color4);
    transform: translate(150px, 0px);
}

.dropdown-list a {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color2);
    width: 100%;
    padding: 0px 0px 0px 12pt;
    cursor: pointer
}

/* ----------------------------- Log in system Class ----------------------*/

.log-in-model-box-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80vh;
    display: flex; /*temporary disable log in page for edition*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #07d11163;
    padding-top: 50pt;
    z-index: 3;
    animation: fatein 1s;
}

.log-in-model-box-container p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 23pt;
    width: 90%;
    border-radius: 15px;
    height: 80px;
    background-color: var(--color1);
    color: var(--red);
    font-size: 9pt;
    font-family: var(--sub-title2);
    text-shadow: 1px 1px 1px white;
}

.log-in-model-box-container span {
    color: var(--color4);
    margin-left: 6px;
}

@keyframes fatein {
    from {opacity: 0}
    to {opacity: 1}
}


@keyframes fatethreeseconds {
    from {display: flex; top: 20px}
    to {display: none; top: -20px};
}

.log-in-model-box-container.active {
    display: none;
    animation: fatein 1s;
}

.log-in-model-box-container.showagain {
    display: flex;
}

.log-in-model-box {
    width: 80%;
    height: 80%;
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 6;
    border-radius: 10px;
}

.account-create-heading {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
}

.account-create-heading #close {
    color: rgb(255, 255, 255);
    background-color: red;
    position: absolute;
    width: 25px;
    height: 25px;
    font-size: 17pt;
    display: none; /* to permit user use flex property */
    justify-content: center;
    align-items: center;
    font-family: var(--caption1);
    cursor: pointer;
    border-radius: 15px;
}

.account-create-heading #in {
    color: var(--color2);
    position: relative;
    font-size: 13pt;
    margin-bottom: 25pt;
    font-weight: bold;
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 25px;
    transform: translate(0px, 17px);
    font-family: var(--sub-title2);
}

.account-create-heading #up {
    color: var(--color2);
    position: relative;
    font-size: 13pt;
    margin-bottom: 25pt;
    font-weight: bold;
    height: 60px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 25px;
    transform: translate(0px, 17px);
    font-family: var(--sub-title2);
}

.account-create-heading #in:hover,
.account-create-heading #in.active, 
.account-create-heading #up:hover,
.account-create-heading #up.active {
    background-color: #650087;
    color: var(--color5);
    cursor: pointer;
    font-weight: normal;
    transition: 0.8s;
}

#sign-up {
    margin-top: 12pt;
    width: 100%;
    height: auto;
    background-color: transparent;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#sign-up.active {
    display: flex;
}



#sign-in {
    margin-top: 12pt;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    font-family: var(--sub-title1);
}

#sign-in.active {
    display:flex;
}

.msg-box {
    color: red; 
    margin-bottom: 12px; 
    text-align: center; 
    font-size: 9pt;
    font-family: var(--caption2);
}


.log-in-model-box input {
    width: 250px;
    height: 35px;
    background: var(--color5);
    color: var(--color3);
    font-family: var(--link);
    outline: none;
    border: none;
    margin: 13px;
    padding: 10px;
    border-bottom: 1px solid gray;
}


#sign-in span.user::before {
    position: absolute;
    content: 'Username';
    width: 100px;
    height: 30px;
    color: var(--color2);
    font-family: var(--caption2);
    transform: translate(-120px, 5px)
}

#sign-in span.pass::before {
    position: absolute;
    content: 'Password';
    width: 100px;
    height: 30px;
    color: var(--color2);
    font-family: var(--caption2);
    transform: translate(-120px, 5px)
}

#sign-up span.user::before {
    position: absolute;
    content: 'Full Name';
    width: 100px;
    height: 30px;
    color: var(--color2);
    font-family: var(--caption2);
    transform: translate(-120px, 5px)
}

#sign-up span.pass::before {
    position: absolute;
    content: 'Password';
    width: 100px;
    height: 30px;
    color: var(--color2);
    font-family: var(--caption2);
    transform: translate(-120px, 5px)
}

#sign-up span.email::before {
    position: absolute;
    content: 'Email Address';
    width: 100px;
    height: 30px;
    color: var(--color2);
    font-family: var(--caption2);
    transform: translate(-120px, 5px)
}

#sign-up span.set-pass::before {
    position: absolute;
    content: 'Set Password';
    width: 100px;
    height: 30px;
    color: var(--color2);
    font-family: var(--caption2);
    transform: translate(-120px, 5px)
}

#sign-up span.confirm-pass::before {
    position: absolute;
    content: 'Confirm password';
    width: 100px;
    height: 30px;
    color: var(--color2);
    font-family: var(--caption2);
    transform: translate(-120px, 5px)
}

#sign-in p {
    font-family: var(--caption1);
    text-decoration: none;
    width: 100%;
    margin-bottom: 23pt;
}

.tem-line-sign-in input {
    width: 10px;
    height: 10px;
}

.tem-line-sign-in span {
    font-family: var(--caption1);
    font-size: var(--default-fontsize);
}

.term-condition {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    text-align: justify;
}

.term-condition input {
    width: 10px;
    height: 10px;
}

.term-condition span {
    font-family: var(--caption1);
    text-align: justify;
    margin-bottom: 8pt;
}

.tem-line span a {
    font-family: var(--caption1);
    font-size: var(--default-fontsize);
    text-decoration: none;
}

#sign-in #sign-in-btn, #sign-up #sign-up-btn {
    width: 120px;
    height: 35px;
    border: none;
    outline: none;
    background-color: var(--palecolor4);
    font-family: var(--sub-title2);
    border-radius: 12px;
    margin-bottom: 12px;
}

#sign-in #sign-in-btn:hover, #sign-up #sign-up-btn:hover {
    background-color: var(--color3);
    color: var(--color5);
    transition: 0.8s;
}

#sign-in-icons, #sign-up-icons {
    display: flex;
    margin-top: 22pt;
}

#sign-in-icons div svg {
    width: 25px;
    margin: 0px 2px 0 2px;
    fill: var(--color2);
}

#sign-in-icons div svg:hover {
    transition: 0.3s;
    fill: var(--color4);
    cursor: pointer;
}

.or-sign-up {
    margin-top: 23pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--caption2);
}

.or-sign-up .sign-up-link-btn {
    width: 100px;
    margin-top: 12pt;
    height: 35px;
    border-radius: 15px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-bottom: 12px;
}

.sign-up-link-btn:hover {
    transition: 0.5s;
    background-color: var(--color3);
    color: var(var(--color5))
}



/* End log in system here */


/* footer Section start here */

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: var(--color2);
    border-top: 2px solid var(--color6);
    padding: 12px 0 25px 0;
}

.ft-logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.ft-documentations {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px var(--color1);
}

.ft-documentations span {
    width: 10px;
    font-size: 15pt;
    transform: translateY(-3px);
    color: var(--color1);
    z-index: 0;
}

.ft-documentations a {
    margin-right: 5px;
    font-family: var(--caption2);
    letter-spacing: 3px;
    color: var(--color5);
}

.ft-documentations a:hover {
    color: var(--color4);
    cursor: pointer;
    text-decoration: underline;
    transition: 0.5s;
}

.footer-contact h3 {
    font-family: var(--sub-title1);
    color: white;
    font-size: var(--default-fontsize);
    margin-top: 12pt;
    letter-spacing: 3px;
}

.footer-contact svg {
    width: 29px;
    margin: 8px;
    cursor: pointer;
    fill:rgb(255, 255, 255)
}

.footer-contact svg:hover {
    transition: 0.3s;
    fill: var(--color3)
}

.link-connection-for-tags {
    width: 100%;
    height: 250px;
    background-color: var(--palecolor1);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 30% 0 30%;
}

.link-connection-for-tags h4 {
    width: 100%;
    text-align: center;
    font-size: large;
    font-family: var(--sub-title2);
    margin-top: 20pt;
    letter-spacing: 2px;
}

.link-connection-for-tags ul li {
    margin: 0;
	padding: 12px 0 12px 22pt;
	list-style: none;
	background-image: url("../img/list-style.png");
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 20px;
    font-family: var(--caption1);
}

.link-connection-for-tags ul a {
    text-decoration: none;
}

.link-connection-for-tags ul li::before {
    position: absolute;
    content: '';
    width: 0px;
    height: 27px;
    background-color: transparent;
    border-bottom: 3px solid var(--color2);
    transform: translate(-30px, 0);
}

.link-connection-for-tags ul li:hover::before {
    transition: 0.5s;
    width: 150px;
}

.ft-copyright {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--color6);
    color: var(--color5); 
    padding: 12pt;
}

.copyright {
    font-size: 17px;
    color: var(--color2);
    font-family: var(--caption1);
    font-size: var(--default-fontsize);
    margin-bottom: 12pt;
}

.ft-location {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-location p {
    font-family: var(--caption1);
    color: var(--color2)
}

.ft-location svg {
    fill: var(--color2);
    width: 15px;
    margin: 2pt;
    transform: translateY(2px);
    z-index: 0;
}

