@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Carter+One&family=Cinzel:wght@500&family=Lexend+Deca:wght@300&family=Luckiest+Guy&family=Poppins:wght@300&family=Rouge+Script&family=Yanone+Kaffeesatz&display=swap');

/* font 
0. Archivo Black - blog-title
1. Luckiest Guy - sub-title
2. Carter One - link1
3. Rouge Script - Description1
4. Yanone Kaffeesatz - Description2;
5. Lexend Deca - caption
6. Cinzel - sub-head;
7. Poppins - link2

*/



:root {
    --blog_title: 'Archivo Black';
    --sub-title: 'Carter One';
    --primary-style: 'Poppins';
    --describ: 'Rouge Script';
    --caption1: 'Lexend Deca';
    --caption2: 'Yanone Kaffeesatz';

    /* main colors */
    --blog-primary-color: rgb(0, 16, 34);
    --hover-color: #06ffff;
    --primary-text-color: rgba(255, 255, 255, 0.678);
    --pure-white: #ffffff;
    --black: #000000;
    --gray: gray;


    /* font-size */
    --blog-title-size: 23pt;
    --post-title-size: 13pt;
    --primary-Size: 11pt;
    --min-Size: 9pt;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blog-primary-color);
    color: var(--pure-white);
}

body.active {
    background-color: #00758a;
    color: black;
}


.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

.log-in-model-box-container {
    display: none;
}

/* -------------- top bar ---------------- */
.top-bar {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 16, 34, 0.87);
    border-bottom: 1px solid rgba(255, 255, 255, 0.219);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.top-bar a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-family: var(--link);
    width: auto;
    padding: 0 1em 0 1em;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.top-bar a:hover, .top-bar a.active {
    transition: 0.5s;
    background-color: #ffffff1e;
}

.top-bar-follower {
    width: 300px;
    height: 25px;
    background-color: #02020236;
    position: fixed;
    top: 50px;
    right: 0;
    margin-right: 4em;
    z-index: 5;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.top-bar-follower i {
    color: var(--primary-text-color);
    cursor: pointer;
}

.top-bar-follower i:hover {
    color: var(--hover-color);
    transition: 0.5s;
}

.top-bar-follower .btns-container {
    width: auto;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar-follower #side-bar-label, .top-bar-follower #mood-label, .top-bar-follower #login-label {
    color: var(--primary-text-color);
    font-family: var(--link);
    font-size: 8pt;
    margin-right: 1em;
}


/* Navigation Bar floating */


.side-bar-container {
    width: 70px;
    height: 100vh;
    display: none; /* Toggle */
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    z-index: 4;
}

.side-bar-container.active {
    display: flex;
}



.link {
    position: absolute;
    left: 0;
    width: 40px;
    height: 60vh;
    background-color: rgba(76, 76, 76, 0.785);
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.589);
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    z-index: 7;
    font-family: var(--caption1);
}

.logo-and-text a {
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 50px;
    text-decoration: none;
    transition: 0.5s;
}


.logo-and-text a i {
    position: relative;
    width: 40px;
    height: 40px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.logo-and-text a:hover {
    background: var(--black);
    color: var(--hover-color);
    transition: all 0.5s ease;
}

.logo-and-text a.active {
    background-color: #000;
    color: var(--hover-color);
}


/* ---------------- drop down --------------  style */
.parent {
    position: relative;
    width: auto;
}

.parent a{
    position: relative;
    text-decoration: none;
    color: white;
}

.parent:hover>.child {
    display: block;
    position: absolute;
}

.child {
    display: none;
    position: absolute;
}

.child li {
    list-style: none;
    width: auto;
    height: 40px;
    
}

.child li a {
    width: 250px;
    height: 40px;
    padding-left: 50px;
    background-color: rgb(80, 80, 80);
    color: #ffffff;
    text-decoration: none;
    z-index: 4;
}

.child li a:hover>.ok {
    background-color: #000000;
    color: var(--gray);
    transition: 0.4s;
}



/* -------------- dropdown -end-------- */


.link:hover {
    width: 250px;
    transition: all 0.5s ease;
    transform: translateX(0px);
}

.link:not(:hover) .logo-and-text a span {
    opacity: 0;
    transition: all 0.5s ease;
}

.link-holder .logo-and-text {
    list-style: none;
}


/*   End */

section {
    width: 100%;
    padding-left: 15em;
    padding-right: 15em;
    padding-top: 6em;
    margin: 0;
}

section h1 {
    font-family: var(--caption2);
    letter-spacing: 2px;
}


footer {
    background-color: rgba(0, 16, 34, 0.116);
    width: 100%;
    padding-left: 15em;
    padding-right: 15em;
}

.footer-top-bar {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    color: black;
}

.footer-top-bar h1 {
    font-family: var(--caption2);
    color: var(--primary-text-color)
}

.footer-top-bar p {
    font-family: var(--caption1);
    padding: 3em;
    text-align: justify;
    color: var(--primary-text-color);
}

.link-connection-for-tags {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30pt;
    padding-bottom: 30pt;
}

.link-connection-for-tags h4 {
    width: 100%;
    height: 50px;
    text-align: center;
    font-family: var(--sub-title);
    color: var(--gray)
}

.link-connection-for-tags ul a {
    text-decoration: none;
    color: var(--pure-white);
    width: 150px;
    height: 40px;
    font-family: var(--caption1);
    margin: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--gray)
}

.link-connection-for-tags ul a li {
    list-style: none;
}

.link-connection-for-tags a:hover {
    color: var(--hover-color);
    transition: 0.5s;
}

.link-connection-for-tags ul a::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid var(--hover-color);
    width: 0px;
    height: 40px;
}

.link-connection-for-tags ul a:hover::after {
    width: 150px;
    transition: 0.5s;
}


.footer-contact {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 34pt;
    padding-top: 34pt;
    border-radius: 24px;
}

.ft-documentations a {
    color: gray;
    padding-left: 12px;
    padding-right: 12px;
    font-family: var(--caption2);
}

.ft-documentations a:hover {
    color: var(--hover-color);
    cursor: pointer;
    transition: 0.4s;
}

.footer-contact h3 {
    margin-top: 22pt;
    margin-bottom: 22pt;
    color: gray;
    font-family: var(--caption1);
}

.ft-logo-link {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ft-logo-link a {
    text-decoration: none;
}

.ft-logo-link a i {
    width: 30px;
    margin: 12pt;
    color: gray;
}

.ft-logo-link a i:hover {
    color: var(--hover-color);
    transition: 0.3s;
}

.ft-copyright {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--primary-text-color);
    padding-top: 4em;
    padding-bottom: 4em;
}

.ft-copyright p {
    font-family: var(--caption1);
}

.ft-location {
    display: flex;
    padding-bottom: 2em;
}

.copyright {
    margin-bottom: 1em;
}

.copyright a {
    text-decoration: none;
    color: var(--primary-text-color);
    cursor: pointer;
}

.ft-copyright i {
    width: 20px;
    color: var(--primary-text-color);
    transform: translateY(3px);
}

.ft-copyright i:hover, .ft-location:hover, .copyright a:hover {
    color: var(--hover-color);
    transition: 0.3s;
}

/*------- Nav End --------*/
