/* Version 2.0 */
/* Licensed to Rakkha's Web Stylesheet Design 2022 */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Oleo+Script&family=Questrial&display=swap');

:root {
    --bg-color: #000000;
    --color: rgb(2, 56, 2);
    --color2: rgb(11, 64, 117);
    --textcolor: #ffffff;
    --bodycolor: rgb(43, 43, 90);

    --describe: "Dancing Script";
    --text: "Questrial";
    --heading: "Oleo Script";

    --small: 9pt;
    --medium: 10pt;
    --big: 12pt;
    --large: 16pt;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.wrapper {
    width: 100%;
    background-color: var(--bodycolor);
}

.wrapper h3 {
    position: absolute;
    width: 500px;
    height: 50px;
    top: 0;
    background-color: transparent;
    padding-left: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--textcolor);
    font-family: var(--heading);
    font-size: var(--big);
    font-weight: normal;
}

.side-bar {
    width: 25%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
    border-right: 2px solid var(--textcolor);
}

.side-bar a {
    text-decoration: none;
    color: var(--textcolor);
    width: 120px;
    height: 35px;
    font-family: var(--text);
    font-size: var(--small);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.side-bar a::after {
    position: absolute;
    content: '';
    width: 0px;
    height: 30px;
    border-bottom: 2px solid var(--textcolor);
    background-color: transparent;
}

.side-bar a.active::after, .side-bar a:hover::after {
    width: 120px;
    transition: 0.5s;
}

section {
    width: 100%;
    height: auto;
    padding-left: 30%;
    color: var(--textcolor);
    padding-top: 50px;
    overflow-y: scroll;
    padding-bottom: 25pt;
    padding-top: 45pt;
    
}

section div { /* Common */
    width: 90%;
    height: auto;
    font-family: var(--text);
    font-size: var(--small);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section div h4 { /* Common */
    font-family: var(--describe);
    font-size: large;
    margin-bottom: 12pt;
}

section textarea { /* Common */
    width: 80%;
    height: 100px;
    font-size: 8pt;
    color: var(--bg-color);
    font-family: var(--text);
    padding: 12px;
    outline: none;
}

section div p {
    margin-bottom: 12pt;
}


.controllers { /* Common */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    height: 200px;
    background-color: red;
}

.controllers button { /* Common */
    width: 100px;
    height: 34px;
    background-color: var(--color2);
    outline: none;
    border: none;
    color: white;
    margin: 2px;
    border-radius: 14px;
}

.model-box-container { /* Common */
    width: 300px;
    height: 300px;
    border: 1px solid var(--textcolor);
    margin: 12pt;
    overflow-y: scroll;
}

.display-model-box {
    width: 100px;
    height: 100px;
    background-color: var(--color);
}

.color1, .color2, .color3, .color4, .color5, .color6,
.color7, .color8, .color9, .color10, .color11, .color12, 
.color13, .color14, .color15, .color16, .color17, .color18,
.color19, .color20, .color21, .color22, .color23, .color24, 
.color25, .color26, .color27, .color28, .color29, .color30,
.color31, .color32, .color33, .color34, .color35, .color36,
.color37, .color38, .color39, .color40 {
    width: 30px;
    height: 30px;
    background-color: green;
    margin: 3px;
}

.color-model-box-container {
    width: 300px;
    height: 300px;
    border: 1px solid var(--textcolor);
    margin: 12pt;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    
}