:root {
    --blog_title: 'Archivo Black';
    --blog-sub-title: 'Luckiest Guy';
    --sub-title1: 'Cinzel';
    --sub-title2: 'Carter One';
    --link: 'Poppins';
    --describ: 'Rouge Script';   
    --caption1: 'Lexend Deca';
    --caption2: 'Yanone Kaffeesatz';

    /* main colors */
    --palecolor1: #ACDDDE;
    --palecolor2: #CAF1DE;
    --palecolor3: #E1F8DC;
    --palecolor4: #66fcf1;
    --palecolor5: #A9D1F7;

    --color1: #cc99ff;
    --color2: #346ca3;
    --color3: #650087;
    --color4: #16f358;
    --color5: #ffffff;
    --color6: #000000;
    --red: red;


    /* font-size */
    --desc-font-size: 13pt;
    --default-fontsize: 10pt;
    --min-fSize: 8pt;
   
}


@media screen and (max-width: 640px ) {
    .blog-initial {
        width: 100%;
        margin: 0px;
    }

    .nav-tool {
        width: 100%;
        height: auto;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        border-radius: 0px;
    }

    .nav-tool p {
        margin-left: 15pt;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .nav-tool .sign-in-btn-show {
        margin-bottom: 5px;
    }

    .hamburger {
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 25pt;
    }
    
    .hamburger-btn {
        width: 25px;
        height: 2px;
        border-radius: 15px;
        background-color: var(--color5);
        transition: 0.5s;
        z-index: 5;
    }

    .hamburger-btn::before {
        position: absolute;
        content: '';
        width: 15px;
        height: 2px;
        border-radius: 15px;
        background-color: var(--color5);
        transform: translateY(-7px);
        transition: 0.5s;
    }

    .hamburger-btn::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 2px;
        border-radius: 15px;
        background-color: var(--color5);
        transform: translate(10px, 7px);
        transition: 0.5s;
    }

    .hamburger-btn.active {
        background-color: var(--red);
        transform: rotate(-45deg);
        transition: 0.5s;
    }

    .hamburger-btn.active::before {
        transform: translate(5px, -6px) rotate(90deg);
        background-color: var(--red);
        transition: 0.5s;
    }

    .hamburger-btn.active::after {
        transform: translate(5px, 5px) rotate(90deg);
        background-color: var(--red);
        transition: 0.5s;
    }


    .log-in-model-box-container {
        z-index: 6;
    }


    .nav-tool .sign-in-btn-show {
        margin-left: 15px;
    }

    nav {
        position: absolute;
        top: -5px;
        overflow: hidden;
    }

    nav .link {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 0px;
        overflow: hidden;
    }

    nav .link.active {
        height: 105vh;
        transition: 0.5s;
    }

    .link a {
        width: 100%;
    }

    .dropdown-menu::after {
        display: none;
    }

    .dropdown-list {
        display: none;
    }

    .ft-documentations span {
        margin: 0;
    }

    .ft-documentations a {
        margin: 0;
        letter-spacing: 1px;
    }

    .link-connection-for-tags {
        padding: 0 0 0 12px;
    }

    .
}