:root {
    --blog_title: 'Archivo Black';
    --blog-sub-title: 'Luckiest Guy';
    --sub-title1: 'Cinzel';
    --sub-title2: 'Carter One';
    --link: 'Poppins';
    --describ: 'Rouge Script';
    --caption1: 'Lexend Deca';
    --caption2: 'Yanone Kaffeesatz';

    /* main colors */
    --palecolor1: #ACDDDE;
    --palecolor2: #CAF1DE;
    --palecolor3: #E1F8DC;
    --palecolor4: #66fcf1;
    --palecolor5: #A9D1F7;

    --color1: #cc99ff;
    --color2: #346ca3;
    --color3: #650087;
    --color4: #16f358;
    --color5: #ffffff;
    --color6: #000000;
    --red: red;


    /* font-size */
    --desc-font-size: 13pt;
    --default-fontsize: 10pt;
    --min-fSize: 8pt;

}


@media screen and (max-width: 640px) {
    .blog-initial {
        width: 100%;
        margin: 0px;
    }

    .blog-initial h1::after {
        margin-bottom: 12pt;
    }

    .blog-initial p {
        text-align: center;
        font-size: 9pt;
    }

    .nav-tool {
        width: 100%;
        margin-left: 0;
    }

    .nav-tool p {
        margin-left: 15pt;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .nav-tool .sign-in-btn-show {
        margin-bottom: 5px;
    }



    /* log in model box start here for responsive */


    .log-in-model-box-container {
        z-index: 6;
    }


    .nav-tool .sign-in-btn-show {
        margin-left: 15px;
    }

    nav {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    nav .link {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 0vh;
        overflow: hidden;
        transition: 0.5s;
        background-color: var(--color3);
        position: fixed;
        top: 0;
        z-index: 5;
    }

    nav .link.active {
        height: 105vh;
        transition: 0.5s;
    }

    .hamburger {
        position: absolute;
        display: flex;
        z-index: 6;
    }

    .link a {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .dropdown-menu::after {
        display: flex;
    }

    .dropdown-list {
        width: 130px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translate(20, -30pt);
        border-radius: 14px;
    }

    .dropdown-list a {
        height: 40px;
        padding-left: 10px;
    }

    .ft-documentations span {
        margin: 0;
    }

    .ft-documentations a {
        margin: 0;
        letter-spacing: 1px;
    }

    .link-connection-for-tags {
        padding: 0 0 0 12px;
    }

    /* ------------------------ Home ----------------------*/

    .blog-intro-bg-img-container {
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    .img-box-cover {
        width: 100%;
        height: 300px;
        background-color: transparent;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 1;
    }

    .img-box-cover:hover img {
        transform: scale(1.2);
    }

    .img-box-cover img {
        width: 100%;
        display: block;
        transition: transform 2s;
        z-index: 0;
    }


    .img-box-cover h1 {
        font-family: var(--blog_title);
        color: var(--color5);
        font-size: 50pt;
        text-shadow: 1px 1px 13px salmon;
        position: absolute;
        transform: translateY(-25px);
        z-index: 1;
    }

    .img-box-cover p {
        font-family: var(--caption1);
        color: var(--color5);
        text-shadow: 1px 1px 13px salmon;
        position: absolute;
        transform: translateY(25px);
        z-index: 1;
    }

    .category-container {
        width: 100%;
    }

    .category {
        width: 90%;
    }

    .computer-showcase {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .computer-img {
        width: 100%;
        height: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /*border: 1px solid red;*/
    }

    .computer-img img {
        width: 300px;
        height: auto;
        background-color: transparent;
    }

    .computer-label {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
        /*border: 1px solid red;*/
    }

    .computer-label li {
        width: 300px;
        height: auto;
        font-family: var(--caption1);
        padding: 15px;
        transform: translateX(0px);
    }

    .invite .btn {
        margin-top: 22pt;
    }


}