/* -------------- Copyright of Rakkha's Design 2022 --------- */
:root {
    --blog_title: 'Archivo Black';
    --sub-title: 'Carter One';
    --primary-style: 'Poppins';
    --describ: 'Rouge Script';
    --caption1: 'Lexend Deca';
    --caption2: 'Yanone Kaffeesatz';

    /* main colors */
    --blog-primary-color: rgba(76, 76, 76, 0.785);
    --hover-color: #06ffff;
    --pure-white: #ffffff;
    --black: #000000;
    --gray: gray;


    /* font-size */
    --blog-title-size: 23pt;
    --post-title-size: 13pt;
    --primary-Size: 11pt;
    --min-Size: 9pt;

}

@media screen and (max-width: 740px) {

    .wrapper {
        padding: 0;
        overflow-x: hidden;
        padding-right: 33pt;
        padding-left: 33pt;
    }
   


    section {
        width: auto;
        padding: 1em;
    }

    /* ------ footer responsive------- */
    footer {
        margin: 0;
        padding: 1em;
    }

    .footer-top-bar h1 {
        font-size: 13pt;
    }


    .footer-top-bar p {
        padding: 1em;
        font-size: 10pt;
    }

    .link-connection-for-tags a {
        font-size: 10pt;
    }

    .footer-contact h3 {
        font-size: 10pt;
    }

    .ft-logo-link {
        flex-wrap: wrap;
    }

    .ft-logo-link a i {
        font-size: 19pt;
    }


    /* ------------------------ Home ----------------------*/

    .blog-intro-bg-img-container {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    }

    .img-box-cover {
        width: 100%;
        height: 100vh;
        background-color: transparent;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        z-index: 1;
    }

    .img-box-cover:hover img {
        transform: scale(1.2);
    }

    .img-box-cover img {
        width: 100%;
        height: 60%;
        display: block;
        transition: transform 2s;
        z-index: 0;
    }


    .img-box-cover h1 {
        font-family: var(--blog_title);
        color: var(--hover-color);
        font-size: 30pt;
        text-shadow: 1px 1px 13px salmon;
        position: absolute;
        transform: translateY(-25px);
        z-index: 1;
    }

    .img-box-cover p {
        font-family: var(--caption1);
        font-size: 10pt;
        color: var(--hover-color);
        text-shadow: 1px 1px 13px salmon;
        position: absolute;
        transform: translateY(25px);
        z-index: 1;
        width: 70%;
        margin-top: 22pt;
        text-align: center;
    }

    .portfolio-showcase {
        height: auto;
        margin: 0;
        padding: 1em;
    }

    .port-content {
        width: 50%;
        height: auto;
        font-size: 10pt;
    }

    .port-content h1 {
        height: auto;
    }

    .port-content p {
        height: auto;
        font-size: 8pt;
    }

    .port-img {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translate(0px);
    }

    .port-img img{
        width: 180px;
    }

    /*--------- Card Show Case ------- */

    .card-container {
        width: 100%;
        padding: 12px;
    }

    
    .card-container h2 {
        letter-spacing: 2px;
        text-align: center;
        font-size: 12pt;
        font-weight: normal;
        text-transform: uppercase;
    }
    
    .card-container p {
        font-family: var(--caption1);
        margin-top: 13pt;
        font-size: 10pt;
    }
    
    .card-grid {
        width: 100%;
        height: 200px;
        transition: 0.5s;
    }
    
    .card {
        width: 200px;
        height: 150px;
        border-radius: 15px;
        transition: 0.5s;
        margin: 2pt;
    }
    
    .card-background {
        width: 100%;
        height: 150px;
        transition: 0.5s;
        border-radius: 15px;
    }

    /* ----- Category classes ---- */

    .category-container {
        width: 100%;
    }

    .category {
        width: 90%;
    }

    /* ----- Invite ------ */
    .model-text::after { /* Circle 2 */
        position: absolute;
        content: '';
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #91a2ff;
        transform: translate(-60px, -170px);
        z-index: 1;
    }

    /* -- Computer-show-case -- */

    .computer-showcase {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .computer-img {
        width: 100%;
        height: 400px;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        /*border: 1px solid red;*/
    }

    .computer-img img {
        width: 300px;
        height: auto;
        background-color: transparent;
    }

    .computer-label {
        width: 100%;
        height: 300px;
        margin: 0;
        padding: 0;
        /*border: 1px solid red;*/
    }

    .computer-label li {
        width: 300px;
        height: 20px;
        font-family: var(--caption1);
        transform: translateX(0px);
    }


    .invite .btn {
        margin-top: 1em;
    }

    /*----------------------------- Photoshop Tags-------------------- */
    .ps-lesson-container iframe {
        height: 200px;
    }


    /* -------------------- Software tags ------------------- */
    .d-list {
        width: 80%;
    }

    .software-d-image-container {
        width: 100%;
    }

    .software-d-image-container #soft_img {
        width: 90%;
    }


    /*------------------- About tag-------------------*/
    .email-me, .email-contact a {
        width: 100px;
        height: 30px;
    }


}